.section {
  padding: 0 0 $sp-big 0;

  &__header {
    padding: 0 $sp-default;
    font-size: $fs-big;
    font-weight: $fw-attractive;
  }

  &__deck {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}