$fs-root: 16px;
$fs-small: .875rem;
$fs-default: 1rem;
$fs-big: 1.25rem;
$fs-large: 1.5rem;
$fs-huge: 1.75rem;
$fs-giant: 2.75rem;

$fw-default: 400;
$fw-accent: 500;
$fw-attractive: 700;

$ff-default: Walsheim, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$c-text-dark: #000000;
$c-text-default: #112330;
$c-text-inverted: #ffffff;

$c-brd-default: #eaeff1;

$c-sh-default: rgba(0,0,0,.075);

$c-bg-today: #4261f3;
$c-bg-week: #2b45ce;
$c-bg-month: #e6649e;

$r: .5rem;

$sp-gap: .5rem;
$sp-default: 1.5rem;
$sp-big: 2.5rem;